*{
    margin: 0px;
}

.covers{
    background-color: #fff;
    padding:1em 1em .5em 1em; 
    width:100%;
    border-radius: 0em 0em 1em 1em ;
}

.resume_continer{
    display: flex;
    justify-content: space-between;
}

.button{
    padding:1em 1.6em;
    display: flex;
    align-items: center;
    background-color: #001233;
    color:#fff;
    border-radius: .3em;
    transition: all .4s ease-in; 
    margin:0em 1.7em;
}

.button i{
margin: 0em .4em;
font-size:1.5em;
}


.button:hover{
    box-shadow: -.5em .5em .8em #0012337c;
    cursor: pointer;
}

.contact_link{
    width:auto;
    display: flex;
    margin: 0em 2em;
}
.icon img{
    height:2.5em;
    width:2.5em;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:.5em;
    border-radius: .5em;
    margin:0em .5em;
    transition: all .5s ;
    cursor: pointer;
}

.icon:hover{
    background-color: #00123325;
}

.copy_right{
    padding:2em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mail{
    display: flex;
    margin:0em 1em;
    align-items: center;
    background-color: #fff;
    color: #001233;
    cursor: pointer;
}

.mail img{
    margin:0em .3em;
    height:2em;
    width:2em;
}

.copy{
    display: flex;
    align-items: center;
    cursor: pointer;
}


@media (min-width:1700px){

    .button{
        font-size: 1.5em;
    }
    .icon img{
        height:3em;
        width:3em;
    }
    .icon{
        margin: 0em 1em;
    }
    .mail{
        font-size:1.5em ;
    }
    .copy{
        font-size: 1.5em;
    }
}



@media (min-width:750px) and (max-width:900px){
    .button{
        padding:.8em 1em;
        font-size: .9em;
    }
    .button i{
        font-size: 1.2;
    }
    .icon img{
        height:1.9em;
        width:1.9em;
    }
    .mail{
        font-size:1em ;
    }
    .mail img{
        height:1.5em;
        width:1.5em;
    }

    .copy{
        font-size: 1em;
    }
}


@media (min-width:550px) and (max-width:750px){
    .button{
        padding:.7em .8em;
        font-size: .7em;
    }
    .button i{
        font-size: 1.2em;
    }
    .icon img{
        height:1.7em;
        width:1.7em;
    }
    .mail{
        font-size:.7em ;
    }
    .mail img{
        height:1.2em;
        width:1.2em;
    }

    .copy{
        font-size: .7em;
    }
}


@media (min-width:400px) and (max-width:550px){
    .button{
        padding:.7em .8em;
        font-size: .75em;
    }
    .button i{
        font-size: 1.3em;
    }
    .icon img{
        height:1.7em;
        width:1.7em;
    }
    .mail{
        font-size:.7em ;
        margin: .3em .3em 1em .3em;
      
    }
    .mail img{
        height:1.2em;
        width:1.2em;
    }

    .copy{
        font-size: .7em;
    }

    .resume_continer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .contact_link{
        margin:1em ;
    }
    .copy_right{
        flex-direction: column;
    }
    .copy_right{
        padding:1em .5em;
    }
}

@media (max-width:400px){
    .button{
        padding:.7em .8em;
        font-size: .8em;
    }
    .button i{
        font-size: 1.35em;
    }
    .icon img{
        height:1.4em;
        width:1.4em;
    }
    .mail{
        font-size:.7em ;
        margin: .3em .3em 1em .3em;
      
    }
    .mail img{
        height:1.2em;
        width:1.2em;
    }

    .copy{
        font-size: .7em;
    }

    .resume_continer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .contact_link{
        margin:1em ;
    }
    .copy_right{
        flex-direction: column;
    }
    .copy_right{
        padding:1em .5em;
    }
}