.About_me_cover{
    margin:2.5em 1em 2.2em 1em;
    padding:1em;
    /* border:1px solid black; */
    border-radius: .8em;
    display: grid;
    grid-template-columns: 60% 37%;
    background-color:#fff;
    color: #001233;
    box-shadow: -.5em .5em .5em #000e29cb;
    transition: all .4s;
}

.About_me_cover:hover{
    box-shadow: -.2em .2em .2em #d8d8d848;
}


.my_picture{
    width:100%;
    padding: .5em;
    margin:1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description{
    font-size: 1.3em;
    margin: .7em 0em;
}

.picture_continer{
    height: 19em;
    width: 100%;
    /* background-color: black; */
    border-radius: 1em;
    
}

.title{
    font-size: 1.6em;
}



    /* media query */
    @media (min-width:1700px){

        .title{
            font-size: 2em;
        }
        .description{
            font-size: 1.7em;
        }

        .my_picture{
            margin:1.5em 1.2em;
        }

        .picture_continer{
            height:20em;
            width: 95%;
        }

        .About_me_cover{
            grid-template-columns: 70% 25%;
        }
    }



    @media (min-width:750px) and (max-width:900px){
    .title{
        font-size: 1.4em;
    }
    .description{
        font-size: 1em;
    }
    .my_picture{
        margin:1.3em 1em;
    }
    .picture_continer{
        height:15em;
        width:100%;
    }
}

@media (min-width:650px) and (max-width:750px){
    .title{
        font-size: 1.1em;
    }
    .description{
        font-size: .85em;
    }
    .my_picture{
        margin:1.3em 1em;
    }
    .picture_continer{
        height:12em;
        width:100%;
    }
}

@media (min-width:500px) and (max-width:650px){
    .title{
        font-size: 1.1em;
    }
    .description{
        font-size: .85em;
    }
    .my_picture{
        margin:1em ;
    }
    .picture_continer{
        height:12em;
        width:60%;
    }
    .About_me_cover{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }
}

@media (min-width:400px) and (max-width:500px){
    .title{
        font-size: .85em;
    }
    .description{
        font-size: .65em;
    }
    .About_me_cover{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }
    .picture_continer{
        height:9.5em;
        width:75%;
    }
}

@media  (max-width:400px){
    .title{
        font-size: .65em;
    }
    .description{
        font-size: .5em;
    }
    .About_me_cover{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }
    .picture_continer{
        height:7.5em;
        width:90%;
    }
}