
.project_showcase{
    width:100%;
    height: 26em;
   
}

.description_continer{
    padding: .5em;
    width:100%;
    margin: .5em 0em;
}

.project_title{
    display: flex;

}

.project_title h2{
    font-size: 2em;
    margin:0em .4em 0em 0em;
    cursor: pointer;
}
.project_title h3{
    color: rgb(228, 11, 11);
    font-size: 1.5em;
}
.project_title h3:hover{
   cursor: pointer;
}

.project_continer{
    /* border:1px solid black; */
    padding: 1.5em;
    margin:  1em 7em 3em 7em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    color:#001233;
}

.project_stack{
    display: flex;
    flex-wrap: wrap;
    gap:1em;
    margin: .5em 0em;
}

.stack_showcase{
    
    padding: .3em .5em;
    border-radius: .3em;
    background-color:#001233;
    color:#fff;
    transition: all .3s ;

}

.stack_showcase:hover{
    font-weight: 650;
    cursor: pointer;
}

.visiting_link{
    margin:1em 0em 0em 0em;
    padding: .5em 1em;
    width:100%;
    font-weight: 400;
    text-align: center;
    background-color:#001233;
    color:#fff;
    border-radius: .5em;
    transition: all .35s ease;
}

.visiting_link:hover{
    box-shadow: -.3em .3em .7em #00123388;
    font-weight: 600;
    cursor: pointer;
}
.links_continer{
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
}



/* media query */
@media (min-width:1700px){
  .project_showcase{
    height:32em;
  }
  .project_title h2{
    font-size:2.5em ;
  }
  .project_title h3{
    font-size:2em ;
  }
  .stack_showcase{
    font-size: 1.3em;
  }
  .description{
    font-size: 1.2em;
  }
  .visiting_link{
    font-size: 1.3em;
  }

}

@media (min-width:750px) and (max-width:900px){

    .project_showcase{
        height:23em;
    }
    .project_continer{
        margin:1em 5.5em 3em 5.5em;
        padding: 1.5em 1.5em 1.2em 1.5em;
    }
    .project_title h2{
          font-size:1.7em ;
    }
    .project_title h3{
        font-size:1.2em ;
  }
  .stack_showcase{
    font-size: .9em;
    margin: .7em 0em 0em 0em;
  }
  .description{
    font-size: 1em;
  }
  .visiting_link{
    font-size: .85em;
  }
  .project_continer{
    padding:1.3em;
  }
  .project_stack{
    gap:.8em;
  }
}

@media (min-width:575px) and (max-width:750px){
    .project_showcase{
        height:16.5em;
    }
    .project_continer{
        margin:1em 3.5em 2.7em 3.5em;
        padding: 1.5em 1.5em 1em 1.5em;
    }
    .project_title h2{
          font-size:1.4em ;
    }
    .project_title h3{
        font-size:1em ;
  }
  .stack_showcase{
    font-size: .7em;
    margin: .5em 0em 0em 0em;
  }
  .description{
    font-size: .9em;
  }
  .visiting_link{
    font-size: .65em;
  }
  .project_continer{
    padding:1em;
  }
  .project_stack{
    gap:.6em;
  }
}


@media (min-width:400px) and (max-width:575px){
    .project_showcase{
        height:10em;
    }
    .project_continer{
        margin:1em 1.7em 2.3em 1.7em;
        padding: 1.5em 1.5em .7em 1.5em;
    }
    .project_title h2{
          font-size:1.1em ;
    }
    .project_title h3{
        font-size:.7em ;
  }
  .stack_showcase{
    font-size: .6em;
    margin: .2em 0em 0em 0em;
  }
  .description{
    font-size: .6em;
  }
  .visiting_link{
    font-size: .55em;
  }
  .project_continer{
    padding:.7em;
  }
  .project_stack{
    gap:.4em;
  }
}


@media  (max-width:400px){
    .project_showcase{
        height:8em;
    }
    .project_continer{
        margin:1em .6em 1.8em .6em;
        padding: 1.5em 1.5em .7em 1.5em;
    }
    .project_title h2{
          font-size:.9em ;
    }
    .project_title h3{
        font-size:.6em ;
  }
  .stack_showcase{
    font-size: .5em;
    margin: .2em 0em 0em 0em;
  }
  .description{
    font-size: .5em;
  }
  .visiting_link{
    font-size: .45em;
  }
  .project_continer{
    padding:.5em;
  }
  .project_stack{
    gap:.2em;
  }
}