*{
  margin:0em;
  padding: 0em;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;

}
a{
  color:#001233;
}
body{
  padding:1em 2em;
  background-color:#cbccd1e0;
}


@media  (max-width:900px){
  body{
    padding:.5em 1em;
    
  }
}